In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('C:/Users/USER/Desktop/delimobile/ab_cart.csv')
df2 = pd.read_csv('C:/Users/USER/Desktop/delimobile/rents_test.csv')
df3 = pd.read_csv('C:/Users/USER/Desktop/delimobile/sessions_test.csv')

In [50]:
df1

,Actual_dtime,Actual_dtime_end,user_id,pricing_title
0,2023-10-12 06:46:43.944,2023-10-12 06:56:43.944,6417165273351716367,Temporary discount 15%
1,2023-10-12 19:01:14.000,2023-10-12 19:11:14.000,8304770599320684601,Temporary discount 15%
2,2023-10-16 14:40:43.069,2023-10-16 14:50:43.069,8304770599320684601,Temporary discount 15%
3,2023-10-18 08:46:44.104,2023-10-18 08:56:44.104,8304770599320684601,Temporary discount 15%
4,2023-10-15 13:08:47.211,2023-10-15 13:18:47.211,8304770599320684601,Temporary discount 15%
...,...,...,...,...
93121,2023-10-12 18:21:22.986,2023-10-12 18:31:22.986,3938703867015642187,Temporary discount 15%
93122,2023-10-12 02:08:24.720,2023-10-12 02:18:24.720,1348723280281415458,Temporary discount 15%
93123,2023-10-12 14:28:54.930,2023-10-12 14:38:54.930,1348723280281415458,Temporary discount 15%
93124,2023-10-12 10:52:47.531,2023-10-12 11:02:47.531,5586156487330765950,Temporary discount 15%
93125,2023-10-12 18:35:41.131,2023-10-12 18:45:41.131,2356453866372286372,Temporary discount 15%

In [60]:
print('min:{}'.format(df1.Actual_dtime.min()))
print('max:{}'.format(df1.Actual_dtime_end.max()))

min:2023-10-12 00:00:48.723
max:2023-10-20 00:08:41.318

In [42]:
df2

,dt,status,rent_id,car_id,user_id,revenue,ride_time,park_time
0,2023-10-05,control,7997331574678177224,995753987842172312,761033494232529251,1642.185,45.6313,0.0
1,2023-10-05,left cart,42851670526058136,330220534584453372,1095857569328864249,223.395,13.3100,0.0
2,2023-10-05,left cart,5007322552998900995,7919342452669815111,7337188867095771235,29.175,2.4387,0.0
3,2023-10-05,left cart,421599487373411423,7328199375466104232,4943469726029277231,328.725,14.7587,0.0
4,2023-10-05,left cart,242150591564638552,302449705796581796,6275674373844077071,298.170,31.0563,0.0
...,...,...,...,...,...,...,...,...
770346,2023-10-18,left cart,1888861758451977237,4568004533628101096,3238289200646740694,46.170,3.2461,0.0
770347,2023-10-18,control,3361049708600552883,163369965153471196,7726193952702251539,135.225,8.0663,0.0
770348,2023-10-18,left cart,5891040618777166902,356615371497193114,2680438982467415543,131.055,7.8617,0.0
770349,2023-10-18,left cart,7737628040797737718,6330519196393515551,5641929970472854910,184.860,14.7037,0.0
770350,2023-10-18,left cart,454612371630784164,1698717012205028829,5874196066917326704,1157.565,58.6850,0.0

In [43]:
df3

,status,user_id,session_id,region,car_id_reserved,map_opened,cars_clicked,session_startedAt
0,left cart,738107662495876070,8340152736935714486,St. Petersburg,2640072791146048208,2,1,2023-10-19 13:49:46.541
1,left cart,651156392650244354,2573205850053533356,Moscow,2640072791146048208,3,1,2023-10-19 20:24:04.610
2,control,1701224248580295009,6739296268816912301,Moscow,2640072791146048208,6,5,2023-10-19 15:20:20.074
3,control,2152590801163978362,2312353413525227642,Moscow,2640072791146048208,7,2,2023-10-19 17:22:04.603
4,left cart,6515135662232387828,1379631992706061477,Moscow,2640072791146048208,10,9,2023-10-19 18:25:40.081
...,...,...,...,...,...,...,...,...
2875512,control,7629570062887618529,9066430612593799408,Moscow,2640072791146048208,8,2,2023-10-14 11:52:45.419
2875513,control,8579444223964363621,460528102284867703,Moscow,2640072791146048208,5,2,2023-10-14 03:12:17.099
2875514,left cart,7881518392124379116,8148490660242516037,Moscow,2640072791146048208,2,1,2023-10-14 09:53:25.150
2875515,left cart,5624647717509047389,406611922297416885,Moscow,2640072791146048208,2,2,2023-10-14 00:33:42.127
2875516,left cart,7077313975327012765,6836757667615810102,Moscow,2640072791146048208,5,4,2023-10-14 12:12:44.241

In [64]:
df2_need = df2.query('dt >= "2023-10-12" & dt <= "2023-10-20"')

In [66]:
df2_need.groupby('status')['user_id'].nunique()

status
control      72047
left cart    71479
Name: user_id, dtype: int64

102654